.footer {
  padding: 35px 37px 35px 37px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0 140px;
  }
}

.footer__title {
  margin: 0 0 10px 0;
  color: $secondary-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.footer__descr {
  display: block;
  color: #444444;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    text-align: start;
  }
}
