.header {
  padding: 10px 37px 35px 37px;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    padding: 50px 75px 35px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 35px 0;
  }
}

.header__wrapper {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
}

.header__button {
  margin-left: auto;
}
