.hero {
  background-color: #eeeeee;

  &--secondary {
    @media (min-width: $tablet-width) {
      padding: 35px 75px 50px 75px;
      font-size: 45px;
    }

    @media (min-width: 1150px) {
      padding: 72px 140px 108px 140px;
    }

    .hero__title {
      margin: 0;
      text-align: center;
      color: $secondary-color;
      font-size: 55px;
      font-weight: 500;
      line-height: 55px;
    }
  }
}
