.nav {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: initial;
  }
}

.nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    @include flex();
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-right: 2px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 245px;
  }
}

.nav__toggle {
  @include flex(row, normal, center);
  width: 25px;
  height: 17px;
  z-index: 1;
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $main-color;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:focus {
    opacity: 1;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__toggle-line {
  width: 25px;
  height: 2px;
  background-color: $main-color;
  transform: scale(1);
}

.nav__list {
  @media (min-width: $tablet-width) {
    @include flex();
    flex-wrap: wrap;
    gap: 35px;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    gap: 45px;
  }
}

.nav__link {
  display: block;
  color: $secondary-color;

  &:hover {
    color: #fb565a;
  }

  &:active {
    color: $secondary-color;
    opacity: 0.3;
  }

  &--active {
    text-decoration: underline;
    text-decoration-color: #fb565a;
    text-decoration-thickness: 2px;
    text-underline-offset: 22px;
  }
}
