.page {
  @include flex(column);
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 400;
}

.page__hero {
  margin: 0 0 40px 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 80px 0;
  }
}

.page__services {
  margin: 0 auto 40px auto;
}

.page__about {
  margin: 0 auto 40px auto;
}

.page__partners {
  margin: 0 auto 40px auto;
}

.page__map {
  margin: 0 auto 34px auto;
  position: relative;
}

.page__templates {
  padding: 0 37px;

  @media (min-width: $tablet-width) {
    padding: 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
