.partners {
  padding: 0 37px;

  @media (min-width: $tablet-width) {
    padding: 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    gap: 35px 0;
  }

  @media (min-width: $desktop-width) {
    @include flex(row, space-around, center);
    padding: 45px 31px;
  }
}

.partners__item {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #eeeeee;
  }
}

.partners__link {
  padding: 0 44px 0 0;
  display: block;
}
