.sorting {
  @include flex(column, normal, center);
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.sorting__title {
  margin-top: 0;

  @media (min-width: 1150px) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 266px;
  }
}

.sorting__list {
  @include flex();
}

.sorting__toggles-list {
  @include flex(row, space-between);
  margin-left: auto;
}

.sorting__toggle-button {
  width: 11px;
  height: 10px;
}

.templates__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px 41px;
  padding: 50px 0 55px 0;
}
