.sorting {
  @include flex(column, normal, center);
  flex-wrap: wrap;
  gap: 0 50px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    gap: 0 38px;
  }
}

.sorting__title {
  margin-top: 0;

  @media (min-width: 1150px) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 266px;
  }
}

.sorting__list {
  @include flex();
}

.sorting__toggles-list {
  @include flex(row, space-between);
  margin-left: auto;
}

.sorting__toggle-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url("../../images/icons/stack.svg#icon-arrow-sorting");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;

  &--cheap {
    transform: rotate(-180deg);
  }

  &--active {
    opacity: 1;
  }
}

.templates__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px 41px;
  padding: 50px 0 55px 0;
}

.sorting__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 129%;
  text-transform: uppercase;
  color: $secondary-color;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }
}
