.templates {
  @include flex();
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 30px auto;
    justify-content: normal;
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 60px auto;
    gap: 140px;
  }
}

.templates__filter {
  width: 260px;
}

.templates__form {
  width: 260px;
}

.templates__wrapper {
  @include flex(column);
  width: 100%;
}

.templates__range {
  @include flex();
  max-width: 260px;
  gap: 122px;
}

.templates__group {
  margin: 0 0 43px 0;
  padding: 0;
  border: none;

  &:last-of-type {
    margin: 0 0 48px 0;
  }
}

.templates__title {
  margin: 0 0 13px 0;
  padding: 0;
  color: $secondary-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.templates__pagination {
  @include flex();
  flex-wrap: wrap;
  gap: 11px;
}

.templates__pagination-next {
  padding: 16px 25px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $secondary-color;
  border-radius: 3px;
  background-color: #eeeeee;

  @media (min-width: $desktop-width) {
    padding: 16px 78px;
  }
}

.templates__submit {
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border-radius: 3px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  border: none;
  background-color: #eeeeee;
}
